
nav {
    background-color: #007bff; 
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  nav a:hover {
    color: #ffcc00; 
  }
  
  router-outlet {
    margin-top: 20px; 
  }
  